# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# vscode
.vscode/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
debug-reports/

# OS
.DS_Store
*.pem
Thumbs.db
ehthumbs.db

# local env files
.env
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

# EAS Build artifacts
*.ipa
*.apk
*.aab

# AI
.codex/
.gemini/
.claude/
.playwright-mcp/

# Memo
notes/
